@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Tangerine:wght@400;700&display=swap');

/*    -------------------------  Color               ------------------*/

body {
    background-color: #fbd2d7;
}

.upper {
    text-transform: uppercase;
}

.custom-navbar{
    background: rgb(250, 222, 225) !important;
    /*background: #bca0dc !important;
    /*background: rgb(148, 168, 221) !important; */
    /*background: #f7ae7a !important;	*/
}

.hero-carousel-pad {
    background-color: rgba(250, 222, 225);
}

.hero-carousel div a:hover {
    background-color: rgba(238, 238, 238, .1);
}

.sub-hero-frame {
    background-color: rgb(250, 222, 225);
}

.sub-hero-odd {
   /* background-color: #bca0dc;*/
    background-color: rgba(166, 98, 197, 0.568)
}

.sub-hero-even {
   /* background-color: #f69552;*/
    background-color: rgba(255, 115, 0, 0.459)
}

.footer-color {
    background-color:rgb(250, 222, 225);
}

.sub-hero-header {  /*  still idea optional stage   */
    background-color: rgba(39, 180, 46, 0.377)
}

/*    -------------------------  header               ------------------*/

.logo h1 {
    font-size: 50px;
    font-family: "Tangerine", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 70px;
}

@media (min-width: 768px){
    .logo h1 {
        font-size: 100px;
    }
}

@media (min-width: 768px){
    .hero-carousel-pad h3 {
        font-size: 25px;
    }
}


/*    -------------------------  navbar               ------------------*/

.custom-navbar {
    font-family: "Playfair Display SC", sans-serif;
}

/*    -------------------------  carousel               ------------------*/

.hero-carousel {
    padding-bottom: 35px;
    margin: 25px 20px;
    max-width: 925px;
}

.hero-carousel div a { 
    width: 3vw;
    background-color: transparent;
}

.hero-carousel-pad h3 {
    font-family: "Playfair Display SC", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    padding: 25px 0 20px 0;
    font-size: 15px;
}

/*    -------------------------  Sub Hero               ------------------*/

.sub-hero-frame{
    font-family: "Playfair Display SC", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.sub-hero-frame ul {
    list-style-type: none;
    font-size: 15px
}



/*    -------------------------  footer               ------------------*/


.footer-contact-frame {
    font-family: "Playfair Display SC", sans-serif;
    text-align: center;
}
.footer-contact-text {
    display: inline-block;
}

.footer-contact-text div {
    display: inline-block;
}



.footer-contact-text div a {
    display: block;
}




.footer-social {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: 200px;
}

.footer-social ul li {
    padding: 10px 13px;
}

.footer-social ul li a i::before { /* position links */
    position: relative;
    top: 13px;
}

.footer-social ul li i {
    list-style-type: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.25);
}

.footer-social ul li a {   /* change to shutter effect*/
    color: #000;
    transition-delay: .5s;
}

.footer-social ul li i:hover {
    transition-duration: 4s;
    transform: rotate(360deg);
    color: #fff;
}

.footer-form {
    align-content: 
}


/*

@media (min-width: 576px)

@media (min-width: 768px)

@media (min-width: 992px)

@media (min-width: 1200px)

*/