/* logo script */
/* Tangerine with subs Raleway and Ubuntu*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Tangerine:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap");


/* body script */
/* Fredericka+the+Great, Marck+Script, Bad+Script, Playfair+Display+SC, Vidaloka   */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Fredericka+the+Great&family=Marck+Script&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Vidaloka&display=swap');



body { /* all pass */
    margin: 0;
    padding: 0;
    border: 0;
    line-height: .9;
    width: 100%;
    text-align: center;
}

.container-fluid { /* all pass */
    padding: 0;
    margin: 0;
}

.no-gutters {
    padding: 0;
}

/*-------------------------  background color  ---------------------------*/


body {
    background-color:#dad5e0
}

.nav-home {
    background-color:#ffabab; /* look at D99BB4 */
}

.nav-edit {
    background-color: #f69552;

}

.nav-logo { 
    background-color: #b1dda1;
}

.nav-gallery {
    background-color: #bca0dc;
}

.nav-contact {  /* previously b1dda1*/
    background-color: #007489;
}

#nav .nav-home .hvr-radial-in:before {
    background: #ffabab;
}

#nav .nav-edit .hvr-radial-in:before {
    background: #f69552;
}

#nav .nav-logo .hvr-radial-in:before {
    background: #b1dda1;
}

#nav .nav-gallery .hvr-radial-in:before {
    background: #bca0dc;
}

#nav .nav-contact .hvr-radial-in:before {
    background: #007489;
}

/*-------------------------  Nav Bar  ---------------------------*/

.container-space { /* all pass *//* Conjoined with #nav li */
    font-size: 0;
}

#nav li { /* all pass *//* first two Conjoined with .container-space*/
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;

    display: inline-block;
    text-align: center;
    height: 150px;  /* COUNTER PART HEIGHT .hvr-radial-in */

}

#nav { /* all pass */
    margin-bottom: 0;

}

#nav li a  { /* all pass */
   /* position: inherit; */
    width: 100%;
    text-decoration: none;
    font-family: "Playfair Display SC", sans-serif;
    padding-top: 40px;
    font-size: 30px;
    letter-spacing: 2px;
}

#nav li a span {
    padding-top: 10px;
}

#nav li a span,
#nav li a i {  /* all pass */
    display: block;
}

.logo { /* all pass SUPER HERO IMAGE */
    background: url("../images/lens3.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -335px;
}

#nav .logo a { /* all pass SUPER HERO TEXT*/
    font-family: "tangerine", sans-serif;
    font-weight: 700; 
    font-size: 70px;
    padding-top: 2px;
    letter-spacing: 2px;
    

}

.upper{
    text-transform: uppercase;
}

/*-------------------------  Hover (lens effect)  ---------------------------*/

.hvr-radial-in { /* all pass   COUNTER PART HEIGHT #nav li*/
    background: rgba(0,0,0,.25);
    color: #000;
    position: inherit;
    height: 150px;
    width: 100%;
}

.hvr-radial-in:before { /* all pass */
    transition-duration: .3s;
}

/*-------------------------  Hero + image  ---------------------------*/

.hero {
    background: url("../hero-modal/lorem1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.hero-frame {
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*-------------------------  Passed Demo  ---------------------------*/




/*-------------------------  DEMO  ---------------------------*/


/*-------------------------  SUB HERO  ---------------------------*/

.vision-work div {
    height: 300px;
    font-family: "Playfair Display SC", sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    color: #000;
    text-align: center;
}

.vision{
    background-color: #f69552; 
}

.work {
    background-color: #bca0dc;
}

.vision h3,
.work h3 {
    letter-spacing: 2px;
    font-size: 50px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.vision p {
    padding-top: 13px;
    font-size: 20px;
}

.work ul li {
    font-size: 20px;
    padding-top: 13px;    
    list-style-type: none;
}


hr {
    border-top: 2px solid black;
    width: 50%;
}


/*-------------------------  FOOTER  ---------------------------*/

.footer-frame div{
    font-family: "Playfair Display SC", sans-serif;
    display: inline-block;
}

.footer-contact {
    background-color: #dad5e0; 
    height: 100px;
}

.footer-area {
    background-color: #dad5e0;
    height: 100px;
    display: inline;
}

.footer-social {
    font-family: "Playfair Display SC", sans-serif;
    background-color: #dad5e0;
    height: 200px;
}

.footer-social h5 {
    text-align: center;
}

.footer-social ul {
    list-style-type: none;
    
}

.footer-social ul li {

    display: inline;
    

}

.footer-social ul li i {
    list-style-type: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.25);

    padding-top: 12px;
}

.social-shutter ul a {
    transition: all 3s ease;
    color: #000;
    transition-delay: .2s;
    transition-duration: 3s;
    text-decoration: none;
}

.social-shutter ul a:hover {
    color: #fff;
    

}



.footer-contact div h5 {
   /* font-size: 23px;*/
}

.footer-lock {
    padding: 30px 0;

}

.footer-key {
    padding: 30px 0;

}

.x {
    text-align: center;
}

.footer-contact div {
    display: inline-block;
    width: 100%;
}


.carousel-text-base {
    color: #000;
}

.carousel-text-base div {
    color:#000;
}

.carousel-icon-base a {
    width: 3vw;
    background-color: rgba(0,0,0,.15);
}

.carousel-icon-base ol {
    background-color: rgba(0,0,0,.15);
   
}

.social-shutter {

}

