@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Tangerine:wght@400;700&display=swap');

/*    -------------------------  Default settings and Color   ------------------*/
     /*                     PHOTO RATIO!!!   960 x 768     V2 roughly 500kb             2:3 ratio   */
    /*                     PHOTO RATIO!!!   1200 x 800     V2 roughly 250kb            80vw x 75vh set to  */
    /*                     737373 color start      898989                               1920 1280   my desktop res */
body {
}

hr {
    border: 2px solid #fff;
    width: 50%;
}

.upper {
    text-transform: uppercase;
}

.nav-pad {   /* compensates for fixed nav bar */
    height: 76px;
    background-color: #010203;
}

.custom-navbar{
    background-color: rgba(1, 2, 3, .90) !important; /* test pop 2*/
}

.logo {
    background-color: #010203; /*  test color pop 2*/
}

.hero-carousel-pad {
    background-color: #010203;
}

.hero-carousel div a:hover {
    background-color: rgba(238, 238, 238, .1);
}

.sub-hero-header {  /*  still idea optional stage   */
    background-color: rgba(201, 163, 40, 0.377);
}

.sub-hero-text {
    background-color: #010203;
}

.footer-color {
    background-color: #484848;
}

/*    -------------------------  navbar               ------------------*/

.custom-navbar {
    font-family: "Playfair Display SC", sans-serif;
}

.custom-nav-header {
    font-family: "Tangerine", sans-serif;
    font-size: 30px; 
    padding: 3px 6px;
    margin: 0;
    border: 5px groove #f2c6f4;
    /*border: 2px groove  rgba(166, 98, 197, 0.568);*/
    box-shadow: 1px 1px 2px #f2c6f4;
    border-radius: 50%;
    font-weight: bold;
}

.custom-nav-header span {
    position: relative;
    right: 4px;
    text-shadow: 4px 4px 7px white;
}

/*    -------------------------  header               ------------------*/

.logo {
    font-family: "Tangerine", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}

.logo h1 {
    padding: 12px 13px;
    font-size: 40px;
    text-shadow: 4px 4px 7px white;
}

.logo h3 {
    padding:12px;
    font-size: 17px;
}

.logo h2 {
    padding: 12px 20px 17px 20px;
    font-size: 20px;
}

@media (min-width: 768px){
    .logo h1 {
        font-size: 100px;
    }
    .logo h2{
            font-size: 40px;
    }
    .logo h3 {
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    .logo {
        padding-top: 30px;    
    }
}

/*    -------------------------  carousel               ------------------*/

.hero-carousel div a { 
    width: 3vw;
    background-color: transparent;
}

.hero-carousel-pad h3 {
    font-family: "Playfair Display SC", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    /*font-size: 15px; */
}

/*    -------------------------  Sub Hero               ------------------*/

.sub-hero-frame{
    font-family: "Playfair Display SC", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}

.sub-hero-frame div h3 {
    padding: 13px 15px 0 15px;
}

.sub-hero-frame div p {
    text-align: center;
    padding: 5px 30px;
}

.sub-hero-frame ul li {
    list-style-type: none;
    font-size: 15px;
    padding: 5px 17px;
}

.sub-hero-frame div ul {
    padding-left: 0;
}

.sub-hero-text {
    height: 325px;
    color: #fff;

}

.custom-button-light {
    border: 2px solid #fffafa;
    background-color: #a9a9a9;
    border-radius: 5px;
    color:#000;
    padding-bottom: 5px;
}

.custom-button-light:hover {
    background-color: #fffafa;
    color: #010203;
    border: 2px solid #a9a9a9;
    transition-duration: .25s;
}


/*    -------------------------  footer   contact us       ------------------*/

.footer-color {
    color: #fff;
}

.footer-contact-frame {
    font-family: "Playfair Display SC", sans-serif;
    text-align: center;
}

.footer-contact-text {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

.footer-contact-text {
    color: #fff;
}

.footer-contact-text h3 {
    padding-top: 10px;
}

.footer-contact-text div {
    display: inline-block;
}

.footer-contact-text div a {
    display: block;
    text-decoration: none;
    color: #fff;

}

.footer-com {
    padding-bottom: 25px;
}

.footer-com p {
    padding-top: 5px;
}

.footer-com a {
    padding: 3px 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,.25);
    border: 2px groove rgba(0,0,0,.25);
}

.footer-com a:hover {
    border-radius: 5px;
    transition-duration: 1.5s;
    color: #000;
    background-color: #fff;
    border: 2px groove rgba(0,0,0,.25);
}
/*  --------------------------- Possible extra code! --------------
.custom-button {
    border: 2px solid rgba(0,0,0,.25);
    background-color: rgba(0,0,0,.10);
    color:#000;
    padding-bottom: 5px;
}

.custom-button:hover {
    background-color: rgba(0,0,0,.50);
    font-size: 20px;
    color: #fff;
}*/

/*    -------------------------  footer   follow us       ------------------*/


.footer-social {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    min-height: 200px;
}

.footer-social ul li {
    padding: 10px 13px;
}

.footer-social ul li a i::before {
    position: relative;
    top: 10px;
}

.footer-social ul li i {
    list-style-type: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,.25);
    background-color: rgba(0,0,0,.25);
}

.footer-social ul li a { 
    color: #fff;
    transition-delay: .5s;
}

.footer-social ul li i:hover {
    background-color: #fff;
    transition-duration: 1.5s;
    color: #000;
}

/*    -------------------------  contact us              ------------------*/

.form-box {
    padding: 40px 0;
    background-color: #cacaca;  /*  previous color is lighter  */
    background-color: #737373;
    font-family: "Playfair Display SC", sans-serif;
    text-align: center;
    color: #fff;
    min-height: 80vh;     /* help with page being short  */
}

.contact-header h3 {
    padding: 7px 0;
}

.contact-header hr {
    border: 1px solid #010203;
    width: 75%;
}

@media (min-width: 768px) {
    .contact-header hr {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .contact-header hr {
        width: 60%;
    }
}

.form-frame {
    margin-bottom: 30px;    /*  sleep on this  */
    background-color: #d7fad2;  /* green color*/
    color: #000;
    border-radius: 17px;
    box-shadow: 14px 14px 7px #a9a9a9;  /*  previos color lighter*/
    box-shadow: 14px 14px 7px #3a4034;
}

.form-row div label {
    padding: 13px 0 13px 0;
}

.form-row div input {
    color: #000;
}

.form-row div {
    padding: 10px 0;
}

.radio-text label {
    border: 2px solid rgba(0,0,0,.25);
    background-color: rgba(0,0,0,.10);
    color:#000;
}

.radio-text label:hover {
    background-color: rgba(0,0,0,.50);
    color: #fff;
}

.custom-button-contact {
    border: 2px solid #0102036b;
    background-color: rgba(0,0,0,.15);
    color: #010203;
    padding-bottom:5px;
    padding: 6px 17px;
    font-size: 19px;
}

.custom-button-contact:hover{
    border: 2px solid #3a4034;
    background-color: rgba(52, 58, 64, .75);
    color: #fff;
    transition: .25s;
}

/*    -------------------------  gallery main             ------------------*/

.photo-icons {
    font-family: "Playfair Display SC", sans-serif;
    text-align: center;
    background-color: #737373;
    min-height: 80vh;  /*   help compensate for body being to short  */
}

.photo-icons div {
    height: 230px; /* was 230 300 */
    margin: 30px 0 70px 0;
}

.photo-icons img {
    border: 2px solid #fff;
    border-radius: 15px;
    height: 200px;  /*  was 200 250  */
    box-shadow: 7px 7px 14px #3a4034;
}

.photo-icons img:hover {
    height: 230px;  /*  was 230 300 */
    box-shadow: 10px 10px 20px #3a4034;
}

.photo-icons a {
    display: inline-block;
    text-decoration: none;
}

.photo-icons a span {
    display: block;
    color: #fff;
    padding: 5px 0 13px 0;  
    font-size: 20px;  
}

.photo-icons a span:hover {
    color: #000;
}

/*    -------------------------  gallery sub             ------------------*/

.sub-gallery-color {
    background-color: #737373;
    margin-left: 0;
    margin-right: 0;
}

.return-arrow {
    font-family: "Playfair Display SC", sans-serif;
    font-size: 25px;
}

.sub-gallery-header h3 {
    padding-top: 17px;
    font-size: 45px;
    color: #fff;
    padding-bottom: 5px;
}

@media (min-width: 992px) {
    .sub-gallery-header h3 {
        font-size: 65px;
        padding-bottom: 0;
}    
    .return-arrow {
        font-size: 35px;
    }
}

.return-arrow a {
    color: #fff;
    padding-left: 7px;
}

.return-arrow a:hover {
    text-decoration: none;
    color: #fff;
}

.sub-gallery-header {
    text-align: center;
    background-color: #737373;
    font-family: "Playfair Display SC", sans-serif;
    padding: 17px 0;
}

.sub-gallery-text h4 {
    font-size: 35px;
    padding: 40px 0 20px 0;
}

.sub-gallery-text h5 {
    font-size: 55px;
}

.sub-gallery-text span {
    color: #fff;
    font-size: 30px;
}

.sub-gallery-text a i {
    color: #fff;
    font-size: 25px;
    padding-left: 13px;
}

.sub-gallery-text a:hover {
    text-decoration: none;
}

.sub-gallery-img img {
    border: 2px solid #fff;
    border-radius: 15px;
    max-height: 75vh;
    max-width: 80vw;
    box-shadow: 7px 7px 14px #3a4034;

}

.sub-gallery-frame {
    background-color: #737373;
    background-image: linear-gradient(#898989, #737373,  #898989);
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display SC", sans-serif;
}

.header-nav-image li a img{
    height: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-nav-imgage li a img:hover {
    height: 65px;
}


/*

@media (min-width: 576px)

@media (min-width: 768px)

@media (min-width: 992px)

@media (min-width: 1200px)

*/

/*    -------------------------  services             ------------------*/



.services-frame {
    background-color: #737373;
}

.services-box {
    padding: 20px 20px;
}

.services-frame div {
    text-align: center;
    color: #000;

}

.service-headed h4,
.service-listed p {
    background-color: #fff;
    font-family: "Playfair Display SC", sans-serif;
    border: 1px solid #000;
    box-shadow: 7px 7px 14px #3a4034;
    
}

.service-headed h4 {
    padding: 13px 5px;
    margin: 7px 7px 0 7px;
    letter-spacing: 2px;   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

.service-listed p {
    border-top: 0;
    margin: 0 7px 7px 7px;
    padding: 13px 23px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    min-height: 375px;
}